@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap'); */
/*  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */ 
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap'); */


/* html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



/* 
.DM{
    font-family: 'DM Serif Display', serif;
}


.Lobster{
    font-family: 'Lobster Two', cursive;
}

.Roboto{
    font-family: 'Roboto Slab', serif;
} */

.btn:hover{
    color: white;
  
    background: linear-gradient(112deg, #AAFFEC -63.59%, #ff4ecd -20.3%,#0070F3 70.46%);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
    text-align: center;    
    display: flex; 
    border-radius: 0.5rem;
    border: none;
}
.btn{
   border: 2px solid blue;
background: transparent;
  background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
    text-align: center;    
    display: flex;
    color: blue;
    border-radius: 0.5rem;  
     
    
}
.NavBar{
  height: 80px;
  position: fixed;
  top: 0;
}
.footer{
    margin-top: 10rem;
}
.blog-resp{
    justify-content: center !important;
    margin: auto !important;
    
     }
@media screen and (max-width:1023px){
    .blog_resp{
    width: 300px !important;
    }
}

@media screen and (max-width:850px){
    .Img-Resp{
        width: 180px;
    }

    .Home-h1-Resp{
        font-size: 35px;
    }
}
@media screen and (max-width:651px){
    .NavBar{
        display: none;
    }
.Nav-ul{
    display: none !important ;
}
.Home-h1-Resp{
    font-size: 25px;
    margin-bottom: 10px;
}
.Home-para{
    font-size: 10px;
    margin-bottom: 10px;
}
.Hambuger{
    display: flex;
    flex-direction: column;
    width: 15px;
    background-color: inherit;
    color: inherit;
}
.line{
    width: 15px;
    background-color: inherit;
    color: inherit;
}
}

@media screen and (max-width:450px){
    .Form-input{
        width: 13rem;
    }
    .About-Para-Resp{
        width: 100%;
    }
}
@media screen and (max-width:650px){
    .Menu{
        margin-top: 2rem;
    }
    .Navul {
        display: flex;
        flex-direction: column;
        /* margin: 154px auto; */
        margin-top: 155px;
    }
     .Img-Resp{
        width: 90px;
    }
    .Nav{
        display: flex !important;
        flex-direction: row;
        background-color: inherit;
        color: inherit;
        position: fixed;
        top: 0;
    
    }
    .Nav-Logo-Div{
        margin: auto;
        
    }
    .Nav-Logo{
        position: absolute;
        top: 30px;
        left: 20px;
    }
}
.Nav{
    display: none;
}
@media screen and (max-width:345px){
    .blog_resp{
    width: 250px !important;
    }
}